# ローカル開発用
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
SESSION_TOKEN=
# Langfuse
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=
# API-KEY
BEARER_KEY=
# LINE
CHANNEL_ACCESS_TOKEN=
# RESEND
RESEND_API_KEY=
# Supabase
DATABASE_URL=